{% extends "students/session_base.html" %}
{% load static i18n %}
{% block title %}
    Health Scan
{% endblock %}

{% block nav %}
  {% if request.user.is_authenticated %}
    {{ block.super }}

  {% else %}
<div class="row"><div class="w-100" style="background-color: #1a2857"><h1>Health Screening Kiosk</h1></div></div>
  {% endif %}
{% endblock %}

{% block content %}


<form action="" method="post">{% csrf_token %}
	<h1>Scan <input class="btn btn-primary btn-lg float-right" type="submit" value="Scan" /></h1>
<h2>{{ current_time }}</h2>
    {{ form.as_p }}
    <input class="btn btn-primary w-100 btn-lg" type="submit" value="Scan" />
</form>

{% endblock %}

{% block javascript %}
{{ block.super }}
<script>

var updateInterval;

function updateScanners(){
	  $.ajax("/api/staff/", {
	    success: function(data){

	      $('select#id_scanners').empty();
	      for (let d of data){
	        var option = $('<option></option>').attr("value", d['pk']).text(d['name']);
	        $('select#id_scanners').append(option);

        }
        doChange();
      }
    });

  }

function updatePeople(){
	  $.ajax("/api/people/", {
	    success: function(data){

	      $('select#id_student').empty();
	      $('select#id_staff').empty();
	      for (let d of data['students']){
	        var option = $('<option></option>').attr("value", d['pk']).text(d['name']);
	        option.prop('selected', false).attr('selected', false).change();
	        $('select#id_student').append(option);

        }
        for (let d of data['staff']){
	        var option = $('<option></option>').attr("value", d['pk']).text(d['name']);
	        option.prop('selected', false).attr('selected', false).change();
	        $('select#id_staff').append(option);
        }
        doPeopleChange();
      }
    });

  }

function doChange(){
  var v = $('#scanner_search').val()
  $('#scanner_search_div #absent .btn:not(:contains("'+v+'"))').hide();
		$('#scanner_search_div .btn:contains("'+v+'")').show();
		if(v==''){
			$('#scanner_search_div #present .btn').show();
			$('#scanner_search_div #absent .btn').hide();
		}

	$('#scanner_search_div .btn-group-vertical').empty();
	//$('#present').append('<h1>Present</h1>');
	//$('#search').val('');
	$('select#id_scanners option:selected').each(function(){

		var $div = $("<div>", {'class':'btn btn-lg btn-outline-success', 'data-id':this.value});
		$div.click(function(){
			try {
			  $('select#id_scanners option[value='+$(this).data('id')+']').prop("selected",false).attr('selected',false).change();
      } catch (e) { console.log(e) }
			$(this).remove();
		});
		$div.html(this.text);
		$('#scanner_search_div #present').append($div);
		//console.log(this.value);
	});
	$('select#id_scanners option:not(:selected)').each(function(){

		var $div = $("<div>", {'class':'btn btn-lg btn-outline-danger', 'data-id':this.value});
		$div.click(function(){
			try {
			  $('select#id_scanners option[value='+$(this).data('id')+']').prop("selected",true).attr('selected',true).change();
      } catch (e) { console.log(e) }
			$(this).remove();
		});
		$div.html(this.text);
		$('#scanner_search_div #absent').append($div);
		$('#scanner_search_div #absent .btn:not(:contains("'+$('#scanner_search').val()+'"))').hide();
		//$('.btn:contains("'+$('#search').value+'")').show();
		//$($div).hide()
		//console.log(this.value);
	});
//$('#scanner_search').keyup();
};

function doPeopleChange(){

   var v = $('#person_search').val()
  $('#person_search_div #person_absent .btn:not(:contains("'+v+'"))').hide();
		$('#person_search_div .btn:contains("'+v+'")').show();
		if(v==''){
			$('#person_search_div #person_present .btn').show();
			$('#person_search_div #person_absent .btn').hide();
		}

	$('#person_search_div .btn-group-vertical').empty();
	//$('#present').append('<h1>Present</h1>');
	//$('#search').val('');
	$('select#id_student option:selected').each(function(){

		var $div = $("<div>", {'class':'btn btn-lg btn-outline-success', 'data-id':this.value});
		$div.click(function(){
			try {
			  $('select#id_student option[value='+$(this).data('id')+']').prop("selected",false).attr('selected',false).change();} catch(e) {console.log(e); }
			$(this).remove();
		});
		$div.html(this.text);
		$('#person_search_div #person_present').append($div);
		//console.log(this.value);
	});
	$('select#id_student option:not(:selected)').each(function(){

		var $div = $("<div>", {'class':'btn btn-lg btn-outline-danger', 'data-id':this.value});
		$div.click(function(){
			try {
			  $('select#id_student option[value='+$(this).data('id')+']').prop("selected",true).attr('selected',true).change(); } catch(e) { console.log(e); }

			$(this).remove();
		});
		$div.html(this.text);
		$('#person_search_div #person_absent').append($div);

		//$('.btn:contains("'+$('#search').value+'")').show();
		//$($div).hide()
		//console.log(this.value);
	});
	$('select#id_staff option:selected').each(function(){

		var $div = $("<div>", {'class':'btn btn-lg btn-outline-success', 'data-id':this.value});
		$div.click(function(){
			try {
			  $('select#id_staff option[value='+$(this).data('id')+']').prop("selected",false).attr('selected',false).change();
      } catch (e) { console.log(e)}
			$(this).remove();
		});
		$div.html(this.text);
		$('#person_search_div #person_present').append($div);
		//console.log(this.value);
	});
	$('select#id_staff option:not(:selected)').each(function(){

		var $div = $("<div>", {'class':'btn btn-lg btn-outline-danger', 'data-id':this.value});
		$div.click(function(){
			try {
			  $('select#id_staff option[value='+$(this).data('id')+']').prop("selected",true).attr('selected',true).change();
      } catch (e) { console.log(e); }
			$(this).remove();
		});
		$div.html(this.text);
		$('#person_search_div #person_absent').append($div);

		//$('.btn:contains("'+$('#search').value+'")').show();
		//$($div).hide()
		//console.log(this.value);
	});
	$('#person_search_div #person_absent .btn:not(:contains("'+$('#person_search').val()+'"))').hide();
//$('#person_search').keyup();
};

$(function() {
	$.expr[":"].contains = $.expr.createPseudo(function(arg) {
    return function( elem ) {
        return $(elem).text().toUpperCase().indexOf(arg.toUpperCase()) >= 0;
    };
	});
	 $('select#id_student').empty();
   $('select#id_staff').empty();
   $('select#id_scanners').empty();

	$('select#id_scanners').hide();
	$('select#id_student').hide();
	$('select#id_staff').hide();
	$('#id_temperature').addClass('form-control border border-primary');
	//$('#id_timestamp').addClass('form-control');
  var temperature_label = $('label[for=id_temperature]').text();
	$('#id_temperature').parent().addClass('input-group input-group-lg').prepend('<div class="input-group-prepend"><span class="input-group-text border border-primary bg-primary text-white">'+temperature_label+'</span></div>');
	$('label[for=id_temperature]').hide();
	$('label[for=id_scanners]').hide();
	$('label[for=id_student]').hide();
	$('label[for=id_staff]').hide();

	$('select#id_student').parent().append('<div class="input-group input-group-lg"><div class="input-group-prepend"><span class="input-group-text border border-primary bg-primary text-white" id="basic-addon1">Person &nbsp;<i class="fal fa-search fa-flip-horizontal"></i> </span></div><input id="person_search" class="form-control border border-primary" autocomplete="off"></input></div><div id="person_search_div" class="row align-items-start"><div class="btn-group-vertical col" id="person_present"></div><div class="btn-group-vertical col" id="person_absent"></div></div>');

	$('select#id_scanners').parent().append('<div class="input-group input-group-lg"><div class="input-group-prepend"><span class="input-group-text border border-primary bg-primary text-white" id="basic-addon1">Scanners &nbsp;<i class="fal fa-search fa-flip-horizontal"></i> </span></div><input id="scanner_search" class="form-control border border-primary" autocomplete="off"></input></div><div id="scanner_search_div" class="row align-items-start"><div class="btn-group-vertical col" id="present"></div><div class="btn-group-vertical col" id="absent"></div></div>');

	$('#id_timestamp').addClass('form-control border border-primary');
	//$('#id_timestamp').addClass('form-control');
	$('#id_timestamp').parent().addClass('input-group input-group-lg').prepend('<div class="input-group-prepend"><span class="input-group-text border border-primary bg-primary text-white">Time</span></div>');
$('label[for=id_timestamp]').hide();

	/*	$('#id_no_charge').bootstrapToggle({
      on: 'Waive Fees for Session',
      off: 'Charge Normally',
      onstyle: 'danger',
      offstyle: 'success',
    }); */
		$('.toggle').addClass('w-100');
		// $('label[for=id_no_charge]').hide();


	$('#scanner_search').keyup(function(){

	  doChange();


	});

	$('#person_search').keyup(function(){

	  doPeopleChange();

	});

	updateScanners();
	updatePeople();


	$('select#id_scanners').change(doChange);
	$('select#id_student').change(doPeopleChange);
	$('select#id_staff').change(doPeopleChange);

	setTimeout(function(){
		$('.alert').hide()
	}, 5000);

  //updateScanners();
  //updatePeople();

});

</script>
{% endblock %}

{% block extrahead %}       {# Extra Resources Start #}
{{ form.media }}            {# Form required JS and CSS #}
  <link href="https://gitcdn.github.io/bootstrap-toggle/2.2.2/css/bootstrap-toggle.min.css" rel="stylesheet">
<script src="https://gitcdn.github.io/bootstrap-toggle/2.2.2/js/bootstrap-toggle.min.js"></script>
  <style type="text/css">
  .toggle > .toggle-group {
    background:white;
    box-shadow: inset 0 3px 5px rgba(0, 0, 0, .125);
    color:#666;
}

.toggle.off {
    border-color: rgba(0, 0, 0, .25);
}

.toggle-handle {
    background-color: white;
    border: thin rgba(0, 0, 0, .25) solid;
}
  </style>
{% endblock %}              {# Extra Resources End #}
