{% extends "students/session_base.html" %}

{% block title %}
    Update {{ session }}
{% endblock %}

{% block content %}
<h1><a href={% url "students:session_list" %}>Session</a></h1>
<h2>Update {{ session }}</h2>

<form action="" method="post">{% csrf_token %}
    {{ form.as_p }}
    <input type="submit" value="Update" />
</form>
<a href={% url "students:session_detail" session.pk %}>Cancel</a>
<form style="display:inline;" action={% url "students:session_delete" session.pk %} method="post" onsubmit="return confirm('Are you sure you want to delete {{ session }}?')">{% csrf_token %}
    <input type="submit" value="Delete" />
</form>
{% endblock %}
