{% extends "students/session_base.html" %}

{% block title %}
    sessions
{% endblock %}

{% block content %}
    <h1>sessions</h1>
    <h2><a href={% url "students:session_create" %}>Create new Session</a></h2>
    <ul>
    {% for session in session_list %}
        <li><a href={% url "students:session_detail" session.pk %}>{{ session }}</a> | <a href={% url "students:session_update" session.pk %}>Update</a> | <form style="display:inline;" action={% url "students:session_delete" session.pk %} method="post" onsubmit="return confirm('Are you sure you want to delete {{ session }}?')">{% csrf_token %}
    <input type="submit" value="Delete" />
    </form></li>
    {% empty %}
        <li>No sessions yet.</li>
    {% endfor %}
    </ul>
{% endblock %}

