{% extends "students/session_base.html" %}

{% block title %}
    Create Session
{% endblock %}

{% block content %}


<form action="" method="post">{% csrf_token %}
	<h1>Start Session <input class="btn btn-primary btn-lg float-right" type="submit" value="Create" /></h1>
<h2>{{ current_time }}</h2>
    {{ form.as_p }}
    <input class="btn btn-primary w-100 btn-lg" type="submit" value="Create" />
</form>
<a href={% url "students:session_list" %}>Cancel</a>
{% endblock %}

{% block javascript %}
{{ block.super }}
<script>

function doChange(){
	$('.btn-group-vertical').empty();
	$('#present').append('<h1>Present</h1>');
	$('#search').val('');
	$('select#id_students option:selected').each(function(){
		
		var $div = $("<div>", {'class':'btn btn-lg btn-outline-success', 'data-id':this.value});
		$div.click(function(){
			$('option[value='+$(this).data('id')+']').prop("selected",false).change();
			$(this).remove();
		});
		$div.html(this.text);
		$('#present').append($div);
		//console.log(this.value);
	});
	$('select#id_students option:not(:selected)').each(function(){

		var $div = $("<div>", {'class':'btn btn-lg btn-outline-danger', 'data-id':this.value});
		$div.click(function(){
			$('option[value='+$(this).data('id')+']').prop("selected",true).change();
			$(this).remove();
		});
		$div.html(this.text);
		$('#absent').append($div);
		//console.log(this.value);
	});
};

$(function() {
	$.expr[":"].contains = $.expr.createPseudo(function(arg) {
    return function( elem ) {
        return $(elem).text().toUpperCase().indexOf(arg.toUpperCase()) >= 0;
    };
	});

	$('select#id_students').hide();
	$('#id_time').addClass('form-control');
	//$('#id_time').addClass('form-control');
	$('#id_time').parent().addClass('input-group input-group-lg').prepend('<div class="input-group-prepend"><span class="input-group-text">&#x23F0;</span></div>');
	$('label[for=id_time]').hide();
	$('label[for=id_students]').hide();
	$('select#id_students').parent().append('<div class="input-group input-group-lg"><div class="input-group-prepend"><span class="input-group-text" id="basic-addon1">&#x1f50e;</span></div><input id="search" class="form-control"></input></div><div id="test_div" class="row align-items-start"><div class="btn-group-vertical col" id="present"></div><div class="btn-group-vertical col" id="absent"></div></div>');

	$('#search').keyup(function(){
		$('div.btn:not(:contains("'+this.value+'"))').hide();
		$('div.btn:contains("'+this.value+'")').show();
		if(this.value==''){
			$('div.btn').show();
		}
	});

	doChange();
	
	$('select#id_students').change(doChange);
    
});

</script>
{% endblock %}