{% extends "students/session_base.html" %}

{% block title %}
    sessions
{% endblock %}

{% block content %}
    <h1>{% with s=session_list.first %}
      {{ s.start|date:"l d M Y"}}
      {% endwith %}
  {%  regroup session_list by complete as sessions %}

      <small class="float-right">[ {{ sessions|first|last|length }}  <small class="text-muted"> / {{ session_list|length }} </small> ]</small></h1>
  <table class="table"><thead><tr><th><small>#</small></th></th><th>Student</th><th>In</th><th>Out</th><th>&#x23F0;</th><th>Parent</th><th>Action</th></tr></thead>

      {% for session in session_list %}
        {% if session.complete is False %}
          <tr class="table-light">
            {% else %}
          <tr class="table-success">
            {% endif %}
          <td><small>{{ forloop.counter }}</small></td><td>{{ session.student }}</td><td>{{ session.start }}</td><td>{% if session.end %}{{ session.end }}{% endif %}</td><td>{% if session.duration %}{{ session.duration }}{% if session.overtime > 0 %} (+{{ session.overtime }} minutes OT){% endif %}{% else %}{{ session.duration_property }}{% endif %}</td><td>{% if session.parent %}{{ session.parent }}{% endif  %}</td><td><a href={% url "students:session_update" session.pk %}>Update</a></td> </tr>


    {% empty %}
        <li>No sessions yet.</li>
    {% endfor %}

  </table>
{% endblock %}

{% comment %}

  {%  regroup session_list by complete as sessions %}
    {% for sessiongroup in sessions %}
      {% for session in sessiongroup.list %}
        {% if sessiongroup.grouper is False %}
          <tr class="table-light"><td>{{ forloop.counter }}</td><td>{{ session.student }}</td><td>{{ session.start }}</td><td></td><td>{% if session.duration %}{{ session.duration }}{% if session.overtime > 0 %} ({{ session.overtime }} minutes overtime){% endif %}{% else %}{{ session.duration_property }}{% endif %}</td><td></td><td><a href={% url "students:session_update" session.pk %}>Update</a></td> </tr>
        {% else %}
          <tr class="table-success"><td>{{ forloop.counter }}</td><td>{{ session.student }}</td><td>{{ session.start }}</td><td>{{ session.end }}</td><td>{% if session.duration %}{{ session.duration }}{% if session.overtime > 0 %} (+{{ session.overtime }} minutes OT){% endif %}{% else %}{{ session.duration_property }}{% endif %}</td><td>{{ session.parent }}</td><td><a href={% url "students:session_update" session.pk %}>Update</a></td> </tr>
        {% endif %}
      {% endfor %}
    {% empty %}
        <li>No sessions yet.</li>
    {% endfor %}
{% endcomment %}
