{% extends "students/staff_base.html" %}

{% block title %}
    {{ staff }}
{% endblock %}

{% block content %}

    <h2>{{ staff }} <a href="{% url "students:staff_update" staff.pk %}" class="float-right btn btn-outline-success "><i class="fal fa-user-edit"></i> &nbsp;Edit Staff</a></h2>
<table class="table">
	<thead><tr><th scope="col">Date</th><th scope="col">Temperature</th></tr></thead>
	<tbody>
    	{% for session in staff.scans.all %}
        <tr><td>{{ session.timestamp }}</td><td>{{session.temperature}}</td></tr>
    	{% endfor %}
    </tbody>
    </table>

{% endblock %}
