{% extends "students/staff_base.html" %}

{% block title %}
    Update {{ staff }}
{% endblock %}

{% block content %}
<h1><a href={% url "students:staff_list" %}>Staff</a></h1>
<h2>Update {{ staff }}</h2>

<form action="" method="post">{% csrf_token %}
    {{ form.as_p }}
    <input type="submit" value="Update" />
</form>
<a href={% url "students:staff_detail" staff.pk %}>Cancel</a>
<form style="display:inline;" action={% url "students:staff_delete" staff.pk %} method="post" onsubmit="return confirm('Are you sure you want to delete {{ staff }}?')">{% csrf_token %}
    <input type="submit" value="Delete" />
</form>
{% endblock %}
