{% extends "students/student_base.html" %}

{% block title %}
    {{ student }}
{% endblock %}

{% block content %}
    <h1><a href={% url "students:student_list" %}>Student</a></h1>
    <h2>{{ student }} | <a href={% url "students:student_update" student.pk %}>Update</a></h2>
<table class="table">
	<thead><tr><th scope="col">Start</th><th scope="col">End</th><th scope="col">Parent</th><th scope="col">Duration (minutes)</th><th>Action</th></tr></thead>
	<tbody>
    	{% for session in student.sessions.all %}
    	<tr><td>	{{ session.start }}</td><td>{{session.end}}</td><td>{{session.parent}}</td><td>{{ session.duration }}</td><td><a href={% url "students:session_update" session.pk %}>Update</a></td></tr>
    	{% endfor %}
    </tbody>
    </table>

{% endblock %}
